[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@git.coding.net:xianmin/oh-my-zsh.git
[submodule "emacs/xm-spacemacs"]
	path = emacs/xm-spacemacs
	url = git@git.coding.net:xianmin/xm-spacemacs.git
